.header {
  background-color: #333;
  padding: 10px 20px;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex-shrink: 0;
  img {
    max-height: 50px;
    width: auto;
  }
}

.nav {
  display: flex;
  gap: 20px;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
}

.nav a {
  color: rgb(226, 210, 210);
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #ffcc00;
}

.cartContainer {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  align-items: center;
}

@media (max-width: 768px) {
  .navContainer {
    flex-direction: column;
  }

  .nav {
    flex-direction: column;
    gap: 20px;
  }

  .nav a {
    font-size: 16px;
  }
}
