.removeFromCartButton {
  height: fit-content;
  background-color: #333;
  color: #ffc107;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #111;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}
